:root {
  --primary-color: #8a2be2; /* Violet pour les boutons et liens */
  --secondary-color: #f7f7f7; /* Gris clair pour l'arrière-plan */
  --text-color: #333; /* Couleur de texte générale */
  --light-text-color: #777; /* Couleur de texte secondaire */
  --border-color: #ccc; /* Couleur de bordure */
  --footer-bg-color: #2e2e2e; /* Couleur du pied de page */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Styles pour la barre de navigation */
.navbar {
  border-bottom: 1px solid var(--border-color);
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  color: var(--light-text-color);
  font-weight: 500;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.search-box i {
  color: var(--light-text-color);
}

.search-box input {
  border: none;
  background-color: transparent;
  padding: 0;
}

.search-box input:focus {
  box-shadow: none;
}

.btn-icon {
  color: var(--light-text-color);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.btn-cart {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour le contenu principal */
.main-content-confirmed {
  min-height: calc(100vh - 72px); /* Hauteur de la fenêtre moins la nav bar */
}

.confirmed-box {
  max-width: 450px;
  background-color: #fff;
  border: 1px solid var(--border-color);
}

.tick-box {
  width: 60px;
  height: 60px;
  background-color: #9333ea; /* Couleur violette foncée */
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.continue-shopping-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
}

/* Styles du pied de page */
footer {
  background-color: var(--footer-bg-color);
  font-size: 0.9rem;
}

footer h5 {
  font-weight: 600;
  color: #fff;
}

footer ul {
  padding-left: 0;
}

footer li a {
  color: var(--light-text-color);
  text-decoration: none;
  line-height: 2.2;
}

footer li a:hover {
  color: #fff;
}

.social-links a,
.app-links a {
  color: #fff;
  font-size: 1.5rem;
}

.app-links img {
  height: 40px;
}

.popular-categories {
  cursor: pointer;
}

.footer-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
  color: var(--light-text-color);
}
